name: CI

on:
    push:
        branches: [main]
        paths:
            - 'src/**.ts'
            - 'tests/**.ts'
            - 'package.json'
            - 'bun.lock'
            - 'tsconfig.json'
            - 'native/**'
    pull_request:
        paths:
            - 'src/**.ts'
            - 'tests/**.ts'
            - 'package.json'
            - 'bun.lock'
            - 'tsconfig.json'
            - 'native/**'
    workflow_dispatch:

jobs:
    test:
        name: Test
        strategy:
            matrix:
                os: [ubuntu-24.04, ubuntu-24.04-arm, windows-2025]
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install Dependencies
              run: bun i --production

            - name: Cache Data Files
              uses: actions/cache@v4
              with:
                  path: data/
                  key: data-cache-${{ hashFiles('data/.version') }}
                  restore-keys: |
                      data-cache-

            - name: Type Check
              if: ${{ matrix.os == 'ubuntu-24.04' }}
              run: bun tsc

            - name: Run Tests
              run: bun test --timeout 1000
